<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <header>
        <h3 class="cabecera"><%= @publicacion.nombre %></h3>
      </header>
      <%= image_tag @publicacion.image.url(:publicacion), class: 'center-block' %>
      <p><%= (@publicacion.descripcion).html_safe %></p>
    </div>
    <div class="col-xs-12">
      <div id="disqus_thread"></div>
      <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */

           var disqus_config = function () {
           this.page.url = <%= @publicacion.url %>;  // Replace PAGE_URL with your page's canonical URL variable
           this.page.identifier = <%= @publicacion.id %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
           };

          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = '//playmozone.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Por favor, habilita JavaScript para la correcta visualización de los comentarios</noscript>
    </div>
    <% if @publicaciones_relacionadas.count > 0 %>
    <div class="col-xs-12">
      <header>
        <h3 class="cabecera">Publicaciones relacionadas</h3>
      </header>
      <div class="row">

            <% @publicaciones_relacionadas.each do |relacionada| %>
                <div class="col-xs-12 col-sm-4">
                  <a href="<%= publicacion_detalle_path(relacionada.url) %>">
                    <%= image_tag relacionada.image.url(:home), class: 'center-block img-responsive' %>
                    <%= relacionada.nombre %>
                  </a>
                </div>
            <% end %>

      </div>
    </div>
    <% end %>
  </div>
</div>