<%= simple_form_for publicacion, html: {multipart: true} do |f| %>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.input :nombre %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.input :descripcion_corta %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.input :descripcion, as: :text, class: 'wysihtml5' %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :categoria_id %>
        <select name="publicacion[categoria_id]" class="form-control" id="publicacion_categoria_id">
          <% @categorias.each do |categoria| %>
          <option value="<%= categoria[1] %>"><%= categoria[0] %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group col-xs-12">
        <%= f.input :serie %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :tipo_serie %>
        <%= f.select :tipo_serie, options_for_select( ["Masculino", "Femenino"]), {}, {:class => "form-control"} %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :fecha_creacion %>

        <%= f.date_field :fecha_creacion %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :destacado %>
        <%= f.check_box :destacado %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= image_tag publicacion.image.url(:ficha_thumb), class: 'img-responsive' %>
      </div>
      <div class="col-xs-12">
        <%= f.button :submit, (publicacion.new_record?) ? 'Nueva publicación' : 'Editar publicación', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>