<%= render partial: 'gestion/header' %>
<div class="container">
  <div class="cabecera-gestion">
    <header>
      <h3>Publicaciones</h3>
    </header>
  </div>
  <div class="content">
    <%= link_to 'Nueva publicación', new_publicacion_path, class: 'btn btn-primary' %>
    <% if @publicaciones.count > 0 %>
        <table class="table table-hover">
          <thead>
          <tr>
            <td>Acciones</td>
            <td>Nombre</td>
            <td>Fecha de creación</td>
            <td>Destacada</td>
          </tr>
          </thead>
          <tbody>
          <% @publicaciones.each do |publicacion| %>
              <tr>

                <td><%= link_to '', edit_publicacion_path(publicacion.id), {class: 'btn fa fa-edit btn-primary', :title => 'Editar publicación', :rel => 'tooltip'} %>
                  <%= link_to '', publicacion_path(publicacion.id), {method: :delete, class: 'btn fa fa-trash btn-danger', data: {confirm: "¿Estás seguro?"}, :title => 'Eliminar publicación', :rel => 'tooltip'} %>
                </td>
                <td>
                  <%= publicacion.nombre %>
                </td>
                <td>
                  <%= publicacion.fecha_creacion.strftime("%d/%m/%Y") %>
                </td>
                <td>
                  <span class="destacado-<%= (publicacion.destacado) ? 'true' : 'false' %>"></span>
                </td>
              </tr>

          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan=" 4">Número de registros: <strong><%= @publicaciones.count %></strong></td>
          </tr>
          </tfoot>
        </table>
    <% else %>
        <p>No se han encontrado registros</p>
    <% end %>
  </div>
</div>