<!DOCTYPE html>
<html>
<head>
  <title>Trenti</title>
  <%= stylesheet_link_tag    'application', 'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'frontend', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'frontend/header' %>
<%= yield %>
<%= render partial: 'frontend/footer' %>
</body>
</html>
